<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
     <title><%= title %></title>
     <link rel="stylesheet" type="text/css", href='/stylesheets/style.css'>
     <link rel="stylesheet" type="text/css", href='/stylesheets/bootstrapv2.css'>
     <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.4.4/themes/default/easyui.css">
  	 <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.4.4/themes/icon.css">
  	 <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.4.4/demo/demo.css">
     <script type="text/javascript" src="/javascripts/jquery-easyui-1.4.4/jquery.min.js"></script>
     <script type="text/javascript" src="/javascripts/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
	 <script type="text/javascript" src="/javascripts/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
  </head>
  <body>
    <table class="easyui-datagrid" title="Basic DataGrid" fit="true" style="width:700px;height:250px"
			data-options="singleSelect:true,collapsible:true,url:'data/datagrid_data1.json',method:'get'">
		<thead>
			<tr>
				<th data-options="field:'itemid',width:80">Item ID</th>
				<th data-options="field:'productid',width:100">Product</th>
				<th data-options="field:'listprice',width:80,align:'right'">List Price</th>
				<th data-options="field:'unitcost',width:80,align:'right'">Unit Cost</th>
				<th data-options="field:'attr1',width:250">Attribute</th>
				<th data-options="field:'status',width:60,align:'center'">Status</th>
			</tr>
		</thead>
	</table>
</body>
</html>